.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: var(--border-radius);
    position: relative;
    color: var(--dark-color);
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 15px;
    color: var(--primary-color);
}

.modal-content ul {
    list-style-position: inside;
    margin-left: 10px;
}

.modal-content li {
    margin-bottom: 10px;
}